doctype html
html
  head
    link(href="https://cdn.rawgit.com/ChristianKohler/web-presentation/v1.0.3/dist/web-presentation.html", rel="import")
    link(href="styles.css", rel="stylesheet")
  body
    include presentation.jade
    script(src="//localhost:9091") // livereload
